# === Обязательные ===
BOT_TOKEN=8811673952:AAELKtt-1h8f8oLBhvkLyex0HJ1SvsVhyaI
ADMIN_ID=8757166517

# === Реквизиты СБП ===
SBER_CARD=2202208228158128
SBER_RECIPIENT=Максим Сергеевич Я.
SBER_BANK=Сбер Банк

# === Тех-поддержка ===
SUPPORT_USERNAME=sadgewary

# === Для реального входа на аккаунты (Telethon) ===
API_ID=26929053
API_HASH=1375761b8b0de946640ba3d0bb264d42

# === База ===
DB_URL=sqlite+aiosqlite:////data/bot.db

# === Курс (XTR -> RUB) ===
STARS_TO_RUB=1.4
